.modalWr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(3px);
  }
  
  .modalInner {
    padding: 3rem;
    background-color: white;
    border-radius: 8px;
  }
  